{% extends "ANEA/layout.html" %}





{% block body %}

<div class="info">
  <div class="info_dentro">
    <br><br>
    <h2>¡Bienvenido a ANEA Class para niños de primaria!</h2>
    <p>En ANEA, estamos comprometidos con la revolución educativa. Nuestra plataforma
      combina la pasión por la enseñanza con la innovación tecnológica para brindar una experiencia de aprendizaje
      única y efectiva para estudiantes de primaria.</p>
    <button onclick="leerContenido() " class=" btn btn-danger "">Leer contenido</button>
   
   
    
  </div>
  <img style=" border-radius: 10px; " src="
      https://scontent.fmga7-1.fna.fbcdn.net/v/t39.30808-6/243195562_248967673909831_324851863451469378_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0z-q6ZGOTUoQ7kNvgFrnTuA&_nc_ht=scontent.fmga7-1.fna&oh=00_AYC4RqLbm5C251lqcAroDx23ro0Zf5lXZJIWhcNo00qXaw&oe=6645DE71">

  </div>

  <img class="imagenlibro" src="./static/ANEA/iconsBD/niños.png">


  <br>
  <img src="./static/ANEA/iconsBD/yyy.png" alt="color1"
    style="height: 100px; width: auto; margin-left: 44%; margin-top: -5%;">
  <img src="./static/ANEA/iconsBD/book.png" alt="color"
    style="height: 120px; width: auto; margin-left: -52%; margin-top: -5%;">
  <br><br>
  <img src="./static/ANEA/iconsBD/elementos.png" alt="color"
    style="transform: rotate(35deg);height: 120px; width: auto; margin-left: 25%; margin-bottom: -12%;margin-top: -12%;">
  <img src="./static/ANEA/iconsBD/ssasxa.png" alt="color"
    style="transform: rotate(-38deg);height: 70px; width: auto; margin-left: 90%; margin-bottom: 0.5%; margin-top: -12%;">

  <h2 style="margin-left: 10%; margin-left: 30%; color: rgb(94, 227, 94);">Nuestra Comunidad</h2>
  <img src="./static/ANEA/iconsBD/abc.png" alt="color"
    style="transform: rotate(-38deg);height: 120px; width: auto; margin-left: 4%; margin-bottom: -9%;">
  <img src="./static/ANEA/iconsBD/libros2.png" alt="color"
    style="transform: rotate(-38deg);height: 70px; width: auto; margin-left: 9%; margin-bottom: 0.5%; margin-top: -2%;">
  <img src="./static/ANEA/iconsBD/ddw.png" alt="color"
    style="transform: rotate(38deg);height: 50px; width: auto; margin-left: 38%; margin-bottom: 0.5%; margin-top: -7%;">
  <br><br><br>
  <div class="info">

    <div class="info_dentro1">

      <!-- Tabs navs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
            style="background-color: greenyellow;">Vista</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Mision</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
          tabindex="0">
          <p style="color: rgb(255, 115, 0);">En nuestra Aula Virtual, Cada Estudiante Descubre, Interactua Y Crece Con
            Otros</p>
          <div class="info3">
            <img src="https://cdn.icon-icons.com/icons2/290/PNG/512/computer_30842.png" alt="computadora"
              style="height: 50px; width: auto; margin-right: 10px;">
            <div class="info4">
              <h5 style="color: red;">Explora Nuestras Clases</h5>
              <p>Decsubre una amplia variedad de materias organizadas por categorias para sastifacer tus intereses y
                necesidades de aprendizaje</p>
            </div>
          </div>
          <div class="info3">
            <img
              src="https://static.vecteezy.com/system/resources/previews/005/075/526/non_2x/video-icon-in-trendy-long-shadow-style-isolated-on-soft-blue-background-free-vector.jpg"
              alt="video" style="height: 55px; width: auto; margin-right: 10px;">
            <div class="info4">
              <h5 style="color: red;">Contenido Educativo Completo</h5>
              <p>Accede a lecciones, videos y actividades educativas diseñadas para abordar demanera integral cada tema
                y promover un aprendizaje efectivo.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <p style="color: rgb(255, 115, 0);">En nuestra Aula Virtual, Cada Estudiante Descubre, Interactua Y Crece Con
            Otros</p>
          <div class="info3">
            <img src="https://cdn.icon-icons.com/icons2/290/PNG/512/computer_30842.png" alt="computadora"
              style="height: 50px; width: auto; margin-right: 10px;">
            <div class="info4">
              <h5 style="color: red;">Explora Nuestras Clases</h5>
              <p>Descubre una amplia variedad de materias organizadas por categorias para sastifacer tus intereses y
                necesidades de aprendizaje</p>
            </div>
          </div>
          <div class="info3">
            <img
              src="https://static.vecteezy.com/system/resources/previews/005/075/526/non_2x/video-icon-in-trendy-long-shadow-style-isolated-on-soft-blue-background-free-vector.jpg"
              alt="video" style="height: 55px; width: auto; margin-right: 10px;">
            <div class="info4">
              <h5 style="color: red;">Contenido Educativo Completo</h5>
              <p>Accede a lecciones, videos y actividades educativas diseñadas para abordar demanera integral cada tema
                y promover un aprendizaje efectivo.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://st2.depositphotos.com/3508093/11861/i/450/depositphotos_118615404-stock-photo-teacher-helping-male-elementary-pupil.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://static5.depositphotos.com/1037987/475/i/450/depositphotos_4759720-stock-photo-kindergarten-children-learning-how-use.jpg"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://st.depositphotos.com/1003098/3118/i/450/depositphotos_31184251-stock-photo-schoolchildren-using-desktop-pc-in.jpg"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </div>
  <br><br>
  <div class="ofrecer" style="margin-left: 5%; margin-top: 5%;">
    <img src="./static/ANEA/iconsBD/bolita_rosa.png" alt="bolita_rosada" style="width: 50px; height: auto; margin-bottom: -5%; margin-left: 10%;">
    <div class="texto_ofrecer" style="display: flex; flex-direction: column; margin-bottom: -25%; margin-top: 4%;">
      <h5 style="color: gray; font-size: 35px;">Ofrecemos un</h5>
      <h5 style="color: orange;font-size: 35px;">Aula Virtual</h5>
      <div style="display: flex; flex-direction: row;">
        <h5 style="color: gray; font-size: 35px;">Donde </h5>
        <h5 style="color: white;">..</h5>
        <h5 style="color: red;font-size: 35px;"> Explorar,</h5>
      </div>
      <div style="display: flex; flex-direction: row;">
        <h5 style="color: green;font-size: 35px;">Aprender </h5>
        <h5 style="color: white;">..</h5>
        <h5 style="color: gray;font-size: 35px;"> Y</h5>
      </div>
      <h5 style="color: skyblue;font-size: 35px;">Colaborar</h5>
    </div>
    <img src="./static/ANEA/iconsBD/sjcshjc.png" alt="niños" style="display: block; /* Evita el espacio debajo de la imagen */
    margin: 0 auto; height: 550px; width: auto;margin-bottom: -40%;">
    <img src="./static/ANEA/iconsBD/sddqw.png" alt="niños" style="display: block; /* Evita el espacio debajo de la imagen */
    margin: 0 auto; height: 500px; width: auto;">
    <div class="texto_ofrecer" style="display: flex; flex-direction: column; margin-left: 70%; margin-top: -45%;">
      <h3 style="font-size: large; color: red;">Herramientas de Seguimiento y Evaluación</h3>
      <p style="font-size: medium;  font-weight: bold;">Permite a los padres y profesores realizar un seguimiento del progreso
        académico de los estudiantes y ofrecer retroalimentación personalizada.
        </p>
      <h3 style="font-size: medium; color: rgb(203, 189, 29);">Educativo Interactivo</h3>
      <p style="font-size: small;  font-weight: bold;">Lecciones, videos, juegos y más, diseñados específicamente para niños de primaria en áreas
         clave como matemáticas, lengua, ciencias sociales y convivencia.
      <h3 style="font-size: medium; color: rgb(255, 170, 0); margin-left: 10%;  font-weight: bold;">Experiencia de Aprendizaje Personalizada</h3>
      <p style="font-size: small;margin-left: 10%;  font-weight: bold;">Adaptamos el contenido y las actividades según el nivel de cada estudiante, para garantizar 
        un aprendizaje efectivo y estimulante.</p>
    </div>
    <img src="./static/ANEA/iconsBD/bolita_morada.png" alt="bolita_morada" style="width: 60px; height: auto;">
    <img src="./static/ANEA/iconsBD/bolita_verde.png" alt="bolita_verde" style="width: 40px; height: auto; margin-bottom: -25%;">
    <img src="./static/ANEA/iconsBD/jejew.png" alt="bolita_azul" style="width: 50px; height: auto; margin-bottom: -20%; margin-left: 80%;">
  </div>
  <br><br><br><br><br><br><br><br><br><br>
    
  <h1 style="margin-left: 5%; color: #D36500; text-align: center;">¿Como Funciona?</h1>

  <div class="info2" style="display: flex; flex-direction: row; margin-left: 10%; margin-top: 2%;">
    <div class="card" style="width: 18rem; height: auto; margin-right: 10%;">
      <div class="card-body" >
        <h5 class="card-title" style="color: red; text-align: center;"><strong>1. Registrate</strong></h5>
        <br>
        <img src="./static/ANEA/iconsBD/aaaaaaaaaa.png" alt="inicio" style="height: 100px;width: auto;display: block;margin: 0 auto;">
        <br><br>
        <p class="card-text">ingresa tu usuario y contraseña proporcionado por tu maestro para acceder a nuestra
          plataforma</p>

      </div>
    </div>
    <br>
    <div class="card" style="width: 18rem; margin-right: 10%;">
      <div class="card-body" >
        <h5 class="card-title" style="color: #D36500; text-align: center;"><strong>2. Explora</strong></h5>
        <br>
        <img src="./static/ANEA/iconsBD/ad.png" alt="inicio" style="height: 100px;width: auto;display: block;margin: 0 auto;">
        <br><br>
        <p class="card-text">Navega por nuestro contenido educativo y elige las lecciones y actividades
          que más te interesen.</p>

      </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;margin-right: 10%;">
      <div class="card-body">
        <h5 class="card-title" style="color: #64E002; text-align: center;"><strong>3. Aprende y Practica</strong></h5>
        <br>
        <img src="./static/ANEA/iconsBD/niños3.png" alt="inicio" style="height: 100px;width: auto; display: block;margin: 0 auto;">
        <br><br>
        <p class="card-text">Sumérgete en un mundo de aprendizaje interactivo, donde podrás aprender
          y practicar de manera divertida y efectiva.</p>


      </div>
    </div>
  </div>

  <br><br><br><br>
  <script>
    function leerContenido() {
      var contenido = document.body.innerText;
      var synth = window.speechSynthesis;
      var utterance = new SpeechSynthesisUtterance(contenido);
      synth.speak(utterance);
    }
  </script>
  {% endblock %}