{% extends "ANEA/layout.html" %}





{% block body %}

<div class="info">
  <div class="info_dentro">
    <h2>¡Bienvenido a ANEA Class para niños de primaria!</h2>
    <p>En ANEA, estamos comprometidos con la revolución educativa. Nuestra plataforma
      combina la pasión por la enseñanza con la innovación tecnológica para brindar una experiencia de aprendizaje
      única y efectiva para estudiantes de primaria.</p>
    <button onclick="leerContenido() " class=" btn btn-danger "">Leer contenido</button>
   
   
    
  </div>
  <img src="https://scontent.fmga7-1.fna.fbcdn.net/v/t39.30808-6/243195562_248967673909831_324851863451469378_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0z-q6ZGOTUoQ7kNvgFrnTuA&_nc_ht=scontent.fmga7-1.fna&oh=00_AYC4RqLbm5C251lqcAroDx23ro0Zf5lXZJIWhcNo00qXaw&oe=6645DE71">

</div>
 
<img class="imagenlibro"src="https://img.freepik.com/vector-gratis/ninos-dibujados-mano-regreso-escuela_52683-41026.jpg?t=st=1715467013~exp=1715470613~hmac=c5520e7fc90395512c48c3524a3d459231d39b065f80e6c6ce26c75ce888ce10&w=900">
    
<br>
<img src="https://cdn5.dibujos.net/dibujos/pintados/202014/taza-animada-con-lapices-colegio-11742680.jpg" alt="color1" style="height: 60px; width: auto; margin-right: 70%; margin-bottom: -7%;">
<img src="https://st.depositphotos.com/1788799/1743/v/450/depositphotos_17432743-stock-illustration-pencil-cartoon.jpg" alt="color" style="height: 60px; width: auto; margin-left: 90%;"><br><br>

<h2 style="margin-left: 10%; margin-left: 30%; color: rgb(94, 227, 94);">Nuestra Comunidad</h2>
<br><br><br>
<div class="info">

  <div class="info_dentro1">
    
    <!-- Tabs navs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" style="background-color: greenyellow;">Vista</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Mision</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <p style="color: rgb(255, 115, 0);">En nuestra Aula Virtual, Cada Estudiante Descubre, Interactua Y Crece Con Otros</p>
        <div class="info3">
          <img src="https://cdn.icon-icons.com/icons2/290/PNG/512/computer_30842.png" alt="computadora" style="height: 50px; width: auto; margin-right: 10px;">
          <div class="info4">
            <h5 style="color: red;">Explora Nuestras Clases</h5>
            <p>Decsubre una amplia variedad de materias organizadas por categorias para sastifacer tus intereses y necesidades de aprendizaje</p>
          </div>
        </div>
        <div class="info3">
          <img src="https://static.vecteezy.com/system/resources/previews/005/075/526/non_2x/video-icon-in-trendy-long-shadow-style-isolated-on-soft-blue-background-free-vector.jpg" alt="video" style="height: 55px; width: auto; margin-right: 10px;">
          <div class="info4">
            <h5 style="color: red;">Contenido Educativo Completo</h5>
            <p>Accede a lecciones, videos y actividades educativas diseñadas para abordar demanera integral cada tema y promover un aprendizaje efectivo.</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <p style="color: rgb(255, 115, 0);">En nuestra Aula Virtual, Cada Estudiante Descubre, Interactua Y Crece Con Otros</p>
        <div class="info3">
          <img src="https://cdn.icon-icons.com/icons2/290/PNG/512/computer_30842.png" alt="computadora" style="height: 50px; width: auto; margin-right: 10px;">
          <div class="info4">
            <h5 style="color: red;">Explora Nuestras Clases</h5>
            <p>Descubre una amplia variedad de materias organizadas por categorias para sastifacer tus intereses y necesidades de aprendizaje</p>
          </div>
        </div>
        <div class="info3">
          <img src="https://static.vecteezy.com/system/resources/previews/005/075/526/non_2x/video-icon-in-trendy-long-shadow-style-isolated-on-soft-blue-background-free-vector.jpg" alt="video" style="height: 55px; width: auto; margin-right: 10px;">
          <div class="info4">
            <h5 style="color: red;">Contenido Educativo Completo</h5>
            <p>Accede a lecciones, videos y actividades educativas diseñadas para abordar demanera integral cada tema y promover un aprendizaje efectivo.</p>
          </div>
        </div>
      </div>
   </div>

  </div>
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://st2.depositphotos.com/3508093/11861/i/450/depositphotos_118615404-stock-photo-teacher-helping-male-elementary-pupil.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static5.depositphotos.com/1037987/475/i/450/depositphotos_4759720-stock-photo-kindergarten-children-learning-how-use.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://st.depositphotos.com/1003098/3118/i/450/depositphotos_31184251-stock-photo-schoolchildren-using-desktop-pc-in.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

</div>
<img style="height: 60px; width: auto; margin-bottom: -140px; margin-left: 40px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaJEwrJNJzgfus0VPG7zwvksZmE6cvyvqlU5Ji8hJHtQ&s" alt="">
<div class="info">
  <div class="info_dentro">
    <h2>Que Ofrecemos</h2>
    <ul>
      <li><strong>Educativo Interactivo:</strong>  Lecciones, videos, juegos y más, diseñados específicamente
        para niños de primaria en áreas clave como matemáticas, lengua, ciencias sociales y convivencia.</li>
      <li><strong>Herramientas de Seguimiento y Evaluación:</strong> Permite a los padres y profesores realizar un
        seguimiento del progreso académico de los estudiantes y ofrecer retroalimentación personalizada.</li>
      <li><strong>Experiencia de Aprendizaje Personalizada:</strong> Adaptamos el contenido y las actividades según el
        nivel de cada estudiante, para garantizar un aprendizaje efectivo y estimulante.</li>
    </ul>
  </div>
</div>
<h1 style="margin-left: 5%; color: rgb(134, 248, 136);">¿Como Funciona?</h1>

<div class="info2" style="display: flex; flex-direction: row; margin-left: 10%; margin-top: 2%;">
  <div class="card" style="width: 18rem; height: auto;">
    <div class="card-body">
      <h5 class="card-title" ><strong>1)Registrate</strong></h5>
      <p class="card-text">ingresa tu usuario y contraseña proporcionado por tu maestro para acceder a nuestra plataforma</p>

    </div>
  </div>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>2)Explora</strong></h5>
      <p class="card-text">Navega por nuestro contenido educativo y elige las lecciones y actividades
        que más te interesen.</p>

    </div>
  </div>
  <br>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>3)Aprende y Practica</strong></h5>
      <p class="card-text">Sumérgete en un mundo de aprendizaje interactivo, donde podrás aprender
        y practicar de manera divertida y efectiva.</p>


    </div>
  </div>
</div>

<br><br><br><br>
<script>
  function leerContenido() {
    var contenido = document.body.innerText;
    var synth = window.speechSynthesis;
    var utterance = new SpeechSynthesisUtterance(contenido);
    synth.speak(utterance);
  }
</script>
{% endblock %}